

<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'over'">


    <mat-toolbar>
      
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Smart Hardware Shop</span>

    </mat-toolbar>

    <mat-list>
      <mat-list-item>
        <button mat-button class="w-100" [routerLink]="['/administrator']"  aria-label="Example icon-button with menu icon">
          Administrator area
        </button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <!-- <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item> -->
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="my-toolbar" >
      <button mat-icon-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span *ngIf="!showSearchInput">Smart Hardware Shop</span>
      <span class="example-spacer"></span>
        <input (blur)="onBlurEvent()" #searchInput *ngIf="showSearchInput" matInput [(ngModel)]="searchedText" (keyup)="search()">
      <button (click)="clickOnSearchIcon()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >search</mat-icon>
      </button>
      <button mat-icon-button (click)="openShoppingCart()" class="example-icon" aria-label="Example icon-button with share icon">
        <!-- <mat-icon>shopping_cart</mat-icon> -->  
        <mat-icon [matBadgeHidden]="!selectedProductsNumber" [matBadge]="selectedProductsNumber" matBadgeColor="warn">shopping_cart</mat-icon>

      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
